*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul{
  list-style: none;
}

p{
  font-size: 1.3rem;
}

input:focus{
  border-radius: .5rem;
  border-color: #213e53;
}